@model foodbook.Models.LoginViewModel
@{
    ViewData["Title"] = "Đăng nhập";
}

<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
    <div class="card shadow-sm login-card">
        <div class="card-body p-4">
            <h4 class="text-center mb-1 fw-bold">Đăng nhập vào <span class="text-success text-green">Foodbook</span>
            </h4>
            <p class="text-center text-muted mb-4 balance-hero" style="font-size: .95rem;">Chào mừng trở lại! Vui lòng đăng nhập vào tài khoản của bạn.</p>

            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    @TempData["SuccessMessage"]
                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                </div>
            }

            <form asp-action="Login" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-3">
                    <label asp-for="EmailOrPhone" class="form-label"><b>Tên đăng nhập hoặc Email</b></label>
                    <input asp-for="EmailOrPhone" class="form-control"
                        placeholder="Tên đăng nhập hoặc email" />
                    <span asp-validation-for="EmailOrPhone" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Password" class="form-label"><b>Mật khẩu</b></label>
                    <input asp-for="Password" class="form-control" placeholder="Mật khẩu của bạn" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="mb-3 text-end">
                    <a asp-controller="Account" asp-action="ForgotPassword" class="text-green text-decoration-none">
                        Quên mật khẩu?
                    </a>
                </div>
                <button type="submit" class="btn btn-success w-100">Đăng nhập</button>
            </form>


            <p class="text-center mt-4 mb-0">Chưa có tài khoản? <a asp-controller="Account" asp-action="Register"
                    class="text-green text-none">Đăng ký</a></p>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
